@import "./reset.css";

body {
  font-family: $font-family-main;
  font-size: $font-size-s;
  line-height: $line-height-m;
  background-color: $bg-color;
  letter-spacing: $letter-spacing-regular;
  color: $font-color-primary;
}
