// цвета, размеры, z-index
/* Bg colors */
$bg-color: #f9faf7;
$card-color: #fff;
$input-color: $card-color;
$overlay-color: #8e8e8e;

/* Font colors */
$font-color-primary: #253017; // text color
$font-color-secondary: #69735d; // caption color
$font-color-disabled: #9ca197; // disabled text
$font-color-pressed: #fff;

/* Details */
$toggle-color: #b2b9a9;
$disabled-color: #e4e8df;
$accent-color: #abd27a;
$alarm-color: #e0796e;
$error-color: #bf3920;
$text-link-color: #508826;
$hover-color: #deebc5;

/* Buttons */
$button-primary-color: $accent-color;
$button-primary-hover-color: $hover-color;
$button-primary-pressed-color: $text-link-color;
$button-primary-disabled-color: $disabled-color;
$button-secondary-color: $card-color;

/* Tags */
$tag-business-color: #eee7f7;
$tag-creation-color: #f7e7f2;
$tag-languages-color: #ebe5c5;
$tag-education-color: #e7f2f6;
$tag-house-color: #f7ebe5;
$tag-health-color: #e9f7e7;
$tag-plus-color: #e8ecf7;

/* Fonts */
$font-family-main: 'Roboto', 'Arial', sans-serif;
$font-family-title: 'Jost', 'Arial', sans-serif;
$font-user-title: 'Open Sans', 'Arial', sans-serif;

$font-size-xl: 32px;
$font-size-l: 24px;
$font-size-m: 20px;
$font-size-s: 16px;
$font-size-xs: 12px;

$line-height-xl: 40px;
$line-height-l: 32px;
$line-height-m: 24px;
$line-height-s: 16px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-subtitle-weight: 600;

$letter-spacing-condensed: -0.01em;
$letter-spacing-regular: 0.02em;

:root {
  --tag-business-color: #{$tag-business-color};
  --tag-creation-color: #{$tag-creation-color};
  --tag-languages-color: #{$tag-languages-color};
  --tag-education-color: #{$tag-education-color};
  --tag-house-color: #{$tag-house-color};
  --tag-health-color: #{$tag-health-color};
  --tag-plus-color: #{$tag-plus-color};
}