.skillWrapper {
  display: flex;
  gap: 24px;
}

.skillData {
  padding: 32px 52px 40px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: $card-color;
  gap: 24px;
  width: 1020px;
}

.actionBar {
  display: flex;
  gap: 16px;
  align-self: end;
}