.wrapper {
  min-width: 436px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.icon {
  padding: 12.5px;
}

.text {
  display: grid;
  gap: 12px;
  align-items: center;
}

.title, .descriptiion {
  text-align: center;
}

.button {
  width: 100%;
}
