.form {
  display: grid;
  align-self: stretch;
}

.input:first-child {
  margin-bottom: 16px;
}

.inputError {
  border-color: $error-color;
}

.error {
  font-family: $font-family-main;
  color: $error-color;
  font-weight: $font-weight-regular;
  font-size: $font-size-xs;
  line-height: $line-height-s;
  letter-spacing: $letter-spacing-regular;
  margin-top: 20px;
}

.button-container {
  margin-top: 32px;
}

.button {
  width: 100%;
}
